<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <root level="trace">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
<!--    <logger name="org.eclipse.jetty" level="INFO"/>-->
<!--    <logger name="io.netty" level="INFO"/>-->
<!--</configuration>-->

<configuration>
    <!-- Console appender configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Filter configuration for the appender -->
    <appender name="FILTERED" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Root logger configuration -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILTERED" />
    </root>

    <!-- Logger configuration for a specific package -->
    <logger name="io.ktor" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>
